.carContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 220px;
    width: 180px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;

    img {
        width: 130px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}