.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 100%;

    hr {
        width: 100%;
    }

    .cardList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}